:root {
  --color-grey: #dadada;
  --color-focus: #f4f2f2;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bkgrd {
  background: url(/img/chicago.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

/* Weather App */
.container {
  background-color: #000;
  border-radius: 20px;
  color: var(--color-grey);
  margin: 0 2.5rem;
  opacity: 0.9;
  padding: 2.5rem;
  max-width: 40rem;
  width: 100%;
}

/* Weather search bar */
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search__input {
  border-radius: 100px;
  font-family: inherit;
  font-size: 1.6rem;
  margin-right: -3.2rem;
  padding: 0.7rem 2rem;
  width: 65%;
}

.search__input,
.search__btn {
  border: none;
  background-color: var(--color-grey);
  transition: all 0.2s;
}

.search__input:focus {
  outline: none;
  width: 69%;
  background-color: var(--color-focus);
}

.search__input:focus + .search__btn {
  background-color: var(--color-focus);
}

.search__btn {
  outline: none;
  border-radius: 50%;
}

.search__btn:active {
  transform: translateX(-2.2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #000;
}

/* Weather Search Detail */
.weather {
  display: flex;
  align-items: center;
}

.weather__greeting {
  text-align: center;
  animation: moveIn 0.8s ease-in;
}

.weather__info {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

.weather__info > * {
  margin: 0.5rem 0;
}

.weather__humidity,
.weather__wind,
.weather__description {
  font-size: 1.6rem;
}

.weather__description {
  text-transform: capitalize;
}

.weather__image {
  display: flex;
  flex: 0 0 50%;
  align-self: stretch;
}

.weather__icon {
  height: 65%;
}

.weather__error {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner__svg {
  height: 6rem;
  width: 6rem;
  fill: #00a2ff;
  animation: rotate 2s infinite linear;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 22.7em) {
  .weather__icon {
    height: 50%;
  }
}
